@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300 ;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: "Poppins", sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --nav-color: #2070F4;
    --side-nav: #010718;
    --text-color: #fff;
    --text-default: #74DCE6;
    --sub-titles: #bababa;
    --titles: #686868;

}

body{
    height: 100vh;
    background-color: var(--body-color);
    background-color: #ffffff;
}


nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgb(255, 255, 255);
    z-index: 10; 
}

nav .nav-bar{
   position: relative;
   height: 100%;
   max-width: 1000px;
   /* width: 100%; */
   width: auto;
   margin: 0px auto;
   /* padding: 0 30px; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   

}

nav .nav-links{
  display: flex;
  align-items: center;
  position: relative; 

}
.nav-links li{
    list-style: none;
    margin: 0 35px;

}
.nav-links li a{
    position: relative;
    text-decoration: none;
    font-weight:600;
    font-size: 17px;
    color: var(--text-color);
    color: gray;
    padding: 10px;
}

nav .logo{
    height: 100%;
}
nav img{
    width: 160px;
}
nav li a:hover{
     color: rgb(174, 172, 172);
}
nav .user{
    height: 40px;
}
nav .bi-person-circle{
    color: #929296;
    font-size: 27px;
    margin-right: 5px;
}
/* PAGINA ATUAL FUNDO MENU */
nav ul li a .active {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 90%;
    height: 155px;
    background-color: var(--text-default);
    z-index: -1;
    border-radius: 40px;
    padding: 15px;
    margin-left: -15px;
    margin-left: -10px;
    margin-top: -160%;
}


nav .sidebarOpen{
    color: #010718;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .sidebarClose{
    opacity: 0;
}


/* ------------------------corpo */
.fundo-principal{
    /* background-color: #010718;
    background-color: #dddddd; */
    background-image: url('./img/fundo-nuvens.jpg');
    background-image: url('../img/fundo-nuvens.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80vh;
    height: 60vh;
    height: auto;
    padding: 5px 150px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.titulos{
    /* background-color: #2070F4; */
    height: 50%;
    /* height: 90%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.titulo1, .titulo2{
    font-size: 100px;
}
.fundo-principal img{
    width: 400px;
    float: right; 
    margin-left: 870px; 
    margin-top: -12%;
}

/* sub menu [inicio] */
.sub-menu{
    height: 30px;
    background-color: #00c8db;
    /* background-color: #c4c4c4; */
    display: flex;
    padding: 3px 55px;
    margin-top: 1.5%;
    align-items: center;
}
.sub-menu i{
    margin: 0.5%;
}
.sub-menu button{
    display: flex;
    justify-content:space-around;
    margin-left: 81%;
    padding: 8px;
    cursor: pointer;
    border: none;
    appearance: none;
    background-color: transparent;
    font-size: 18px;
    width: 125px;
}
.sub-menu button i{
    font-size: 20px;
}



/* sub menu [fim] */






/*FIRST SECTION [INICIO]*/

.first{
    /* background-color: rgb(220, 15, 15); */
    /* width: 100vw; */
    height: 120px;
    height: 100px;
    align-items: center;
    text-align: center;
    padding: 0px 50px;

    overflow: hidden;
    padding: 15px;
    display: flex;
}



.bloco1, .bloco2, .bloco3,.bloco4,.bloco5, .bloco6{
    /* background-color: #2070F4; */
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: -3%;

}
.bloco1{
    margin-left: 1%;
}



.content-1-a{
    /* background-color: rgb(203, 203, 204); */
    width: 150px;
    margin: 10px 28px;
    display:inline-block;

    text-align: justify;
    font-size: 11px;
    
}

.content-1-b{
    /* background-color: rgb(177, 177, 188); */
    width: 150px;
    margin: 25px;
    margin-top: 18%;
    display: inline-block;
    text-align: justify;
    font-size: 11px;

}

.content-1-c{
    /* background-color: rgb(191, 191, 195); */
    width: 150px;
    margin: 35px;
    display: inline-block;
    text-align: justify;
    font-size: 12px;

}


.content-1-d{
    /* background-color: rgb(198, 198, 198); */
    width: 150px;
    margin: 35px;
    display: inline-block;
    text-align: justify;
    font-size: 11px;

}

.content-1-e{
    /* background-color: rgb(199, 199, 199); */
    width: 150px;
    margin: 25px 28px;
    display: inline-block;
    text-align: justify;
    font-size: 11px;

}



.h-content-1{
    color: rgb(7, 7, 174);
    font-weight: bold;
 }


.bi-cash-coin{
    font-size: 25px;
    /* color: aqua; */
    margin-right: -10px
}

.ic-b{
    font-size: 25px;
    margin-left: 30px;
    margin-right: -10px
}

.a-card{
    color: #3f402f;
    font-size: 13px;
    text-decoration: underline;
    text-transform: uppercase;
}
 
/*FIRST SECTION [FIM]*/


/* PRIMEIROS CARDS - CATEGORIA PROD [inicio]*/
.second-1{
    /* background-color: aquamarine; */
    height: auto;

    text-align: center;
}
.cards-s1{
    /* background-color: #2070F4; */
    height: auto;
    margin: 1%;
}
.card-s1{
    /* background-color: #ef0000; */
    display:inline-block;
    margin: 30px;
    width: 260px;
    height: 150px;
    border-radius: 18px;
    -webkit-box-shadow: 0px 1px 9px 5px rgba(0,0,0,0.08); 
    box-shadow: 0px 1px 9px 5px rgba(0,0,0,0.08);

    align-items: center;
    justify-content: center;
}
.bloco-a{
    background-color: #BFE5EA;
}
.bloco-b{
    background-color: #FEEBD4;
}
.bloco-c{
    background-color: #FAC4C4;
}
.side1-bloco,
.side2-bloco {
    display: inline-block;
    width: 48%;
    height: 95%;
    vertical-align: top;
    margin: 3% 0 1% 1%;
}
.side2-bloco{
    /* background-color: #cdf420; */
    width: 42%;
}
.bloco-img{
    width: 130px;
    /* background-color: red; */
    margin-top: -50%;
}
.img-a{
    width: 170px;
    margin-left: -30px;
}
.img-b{
    width: 190px;
    margin-left: -50px;
    margin-top: -65%;
}
.img-c{
    width: 100px;
    margin-left: -35px;
}
.a-bloco{
    text-decoration: none;
}
.title-bloco{
    text-align: left;
    font-size: 20px;
    color: #000000c9;
}
.p-bloco1{
    font-size: 15px;
    font-weight: 600;
}
.p-a{
    color: #2197BD;
}
.p-b{
    color: #CC9933;
}
.p-c{
    color: #DB3349;
}

/* PRIMEIROS CARDS - CATEGORIA PROD [fim]*/




/*SECOND SECTION [INICIO]*/
 
.second{
    /* background-color: aquamarine; */
    height: 400px;
    height: auto;
    /* align-items: center; */
    text-align: center;
    margin-top: 10%;
}

h3.title{
    font-size: large;
    margin: 10px 10px;
}
.linha1{
    height: 30px;
    background-color: #7efbff;
    width: 10%;
    /* position:relative; */
    position: absolute;
    /* top: 50%; */
    top: 200%;
    background: linear-gradient(90deg, rgb(96, 239, 255), rgb(0, 115, 123));
    z-index: -1;
    border-radius: 0px 10px 10px 0px;
}
.linha2{
    height: 30px;
    background-color: #878787;
    background: linear-gradient(90deg,#878787, black );
    width: 10%;
    /* position:relative; */
    /* top: 40%;  */
    top: 200%;
    position: absolute;
    left: 90%;   
    z-index: -1;
    border-radius: 10px 0px 0px 10px;
}
.cards{
    /* background-color: #aeb091; */
    height: 80%;
}
.card{
    display:inline-block;
    background-color: #ffffff;
    margin: 30px;
    /* padding: 10px; */
    width: 180px;
    height: 300px;
    border-radius: 2px;

    -webkit-box-shadow: 0px 1px 9px 5px rgba(0,0,0,0.08); 
    box-shadow: 0px 1px 9px 5px rgba(0,0,0,0.08);
}

.card1-destaque, .card2-destaque, .card3-destaque, .card4-destaque{
    background-repeat: no-repeat;
}
.card1-destaque{
    background-image: url('../img/letreiro_1.png');
}
.card2-destaque{
    background-image: url('../img/letreiro_2.png');
}
.card3-destaque{
    background-image: url('../img/letreiro_3.png');
}
.card4-destaque{
    background-image: url('../img/letreiro_4.png');
}


.card-img{
    height: 220px;
    height: auto;
    width: 160px;
    width: 130px;
    margin-top: 30%;
}
.img2{
    width: 150px;
}
.img3{
    width: 153px;
}
.img4{
    width: 145px;
}


.title-card-a{
    font-size: 15px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2f2f2f;
}

a{
    font-size: 12px;
}

/*SECOND SECTION [FIM]*/


/* CARDS GG PRODUTOS */
.third{
    /* background-color: red; */
    height: auto;
    text-align: center;
    margin-top: 10%;
}
.cards-GG{
    height: auto;
    /* background-color: #00c8db; */
}
.card-GG{
    display:inline-block;
    background-color: rgb(255, 255, 255);

    margin: 30px;
    width: 280px;
    width: 250px;
    height: 330px;
    height: 320px;
    border-radius: 3px;
    padding: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 23%);
    box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 19%);
}
.card-GG-img{
    width: 100%;
}
.img-prod-teste img{
    width: 175px;
}
.title-card-GG{
    margin-top: 5%;
    font-size: 20px;
    color: #696969;
    /* margin-bottom: 15%; */
}
.preco-card-GG{
    font-size: 22px;
    font-size: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 55%;
    margin-right: 49%;
}
.footer-card-GG{
    /* background-color: red; */
    display: flex;
    position: relative;
    top: 18%;
    /* top: 20%; */
    height: auto;
}
button.add-carrinho{
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-size: 19px;
    padding: 5px;
    border-radius: 5px;
    background-color: #919191;
    background-color: #757575;
    background-color: #010718d6;
    color: white;
    width: 44px;
    width: 50px;

}


/* ----------------------------------------------- */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    /* background-color: #00c8db; */
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    /* height: 50px; */
    margin: 0 40px;
  }
  .logos-slide img{
    border-radius: 10px;
    width: 200px;
    
  }




/* ////////// MODAL CARRINHO /////////// */

.janela-modal1{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(4px);
    display: none;
    align-items: center;
    justify-content: center;
  
  
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  
  
  }

/*funçao modal*/
.janela-modal1.abrir{
 display: flex;
}


/*animaçao modal [inicio]*/
@keyframes abrirmodal{
 from{
   opacity: 0;
   transform: translate(0, -30px, -5px);
 }
 to{
   opacity: 1;
   transform: translate(0,0,0);
 }
}

.abrir .modal-1{
 animation: abrirmodal 0.9s;
}
/*animaçao modal [fim]*/




.modal-1{
 max-height: 400px;
 overflow-y: auto; 

 width: 25%; 
 /* max-width: 800px;  */
 height: auto;
 height: 100vh;
 min-height: 430px;
 background-color: #f6f6f6f0;
 background: url('../img/fundo_carrinho.png');
 background-size: 100%;
 -webkit-backdrop-filter: blur(10px);
 border-radius: 3px;
 padding: 20px;
 margin: 0 auto; 
 position: fixed; 
 top: 60%; 
 left: 90%;
 transform: translate(-50%, -50%);


 padding-bottom: 70px; 

}

.fechar{
    position: absolute;
   
    background-color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    margin-top: 1%;
   }
   .bi-x-lg{
     font-size: 30px;
   }
   .modal-1 h2{
    font-size: 22px;
    /* margin: 20px 100px; */
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 5%;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
   
   }
   .qtde-itens{
    color:#a2a2a2;
    font-style: italic;
    margin-top: -5%;
    margin-bottom: 3%;
    margin-left: 15%;
    font-size: 12px;
   }
   .linha-modal1{
    width: 100%;
    height: 3px;
    background-color: #8a8a8a;
   
   }

   .footer-carrinho{
    position: fixed;
    width: 300px;
    top: 80%;
   }
   .linha-modal2{
    width: 100%;
    height: 2px;
    background-color: #8a8a8a;
    border-radius: 0px;
   }
   .content-carrinho{
    display: flex;
    gap: 170px;
    font-size: 18px;
    margin-top: 5%;
   }
   .div-finalizar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
   }
   .finalizar{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #00c8db;
    cursor: pointer;
   }

/* ////////// MODAL CARRINHO /////////// [fim] */










/* ------------------------------------------------------------------------------------------- */
/* >>>>>>>> RESPONSIVIDADE <<<<<<<<< */
@media (min-width:1024px) and (max-width:1026px){
    /* menu e acess */

    /* corpo */
    .fundo-principal{
        height: 20vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 100%;
        padding: 115px 10px;
    }
    .fundo-principal h1{
        font-size: 60px;
    }
    .first{
        height: auto;
        display: grid;             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define colunas automáticas com largura mínima de 200px */
        gap: 20px; /* Espaçamento entre os blocos */
    }

    .bloco1, .bloco2, .bloco3, .bloco4, .bloco5{
        flex-basis: auto;
    }

    .linha1, .linha2{
        display: none;
    }
}

@media (min-width:912px) and (max-width:1024){
    sub-menu{
        width: auto;
        background-color: #00c8db;
        height: 500px;
    }
}


@media (max-width: 912px) {
    .menu{
        position: fixed;
        height: 70%;
        width: 230px;
        left: -100%;
        top: 0;
        background-color: rgba(172, 233, 249, 0.812);
        margin-top: 110px;
        border-radius: 5px;
        z-index: 100;
        transition: all 0.8s ease;
    }
    .menu li a, nav .bi-person-circle{
        color: #010718;
    }
    nav.ativo .menu{
        left: -0%;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }
    .active{
        opacity: 0;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
    nav .sidebarClose{
        margin: 0px 190px;
        font-size: 30px;
        cursor: pointer;
        opacity: 1;
    }
    nav .sidebarOpen{
        display: block;
    }
    .logo img{
        margin-left: -93%;
        margin-left: -85%;
        position: absolute;
    }

        /* submenu */
        .sub-menu button {
            margin: 0;
            position: relative;
            left: 65%;
        }
        /* corpo */
        .fundo-principal{
            height: 20vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-size: 100%;
            padding: 115px 10px;
            overflow: hidden;
        }
        .fundo-principal h1{
            font-size: 60px;
        }
        .fundo-principal img{
            display: none;
        }
    
        .first{
            height: auto;
            display: grid;             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define colunas automáticas com largura mínima de 200px */
            gap: 20px; /* Espaçamento entre os blocos */
        }
    
        .bloco1, .bloco2, .bloco3, .bloco4, .bloco5{
            flex-basis: auto;
        }
        .bloco1{
            margin-left: 10%;
        }


        .linha1, .linha2{
            display: none;
        }
    

}



@media (max-width:640px) {
    nav .logo img{
        width: 100px;
        top: 6%;
        top: 36%;
    }
    nav .bi-list{
        font-size: 24px;
        font-weight: 500;
        margin-top: 8%;
    }
    nav{
        /* position: fixed; */
        width: 100%;
    }

    nav .nav-bar{
        position: relative;
        height: 100%;
        max-width: 100%;
        /* width: 100%; */
        width: auto;
        margin: 0px auto;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

        /* submenu */
        .sub-menu button {
            margin: 0;
            position: relative;
            left: 35%;
            margin-bottom: -30%;
        }
        .sub-menu{
            margin-bottom: -20%;
        }
         /* corpo */
    .fundo-principal{
        height: 20vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 100%;
        padding: 115px 10px;
        /* margin-top: -22%;
        margin-top: -7%;
        margin-top: -20%; */

    }
    .fundo-principal h1{
        font-size: 60px;
    }
    .fundo-principal img{
        display: none;
    }

    .first{
        height: auto;
        display: grid;             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define colunas automáticas com largura mínima de 200px */
        gap: 20px; /* Espaçamento entre os blocos */
    }

    .bloco1, .bloco2, .bloco3, .bloco4, .bloco5{
        flex-basis: auto;
    }
    .bloco1{
        margin-left: 10%;
    }

}

@media (min-width:480px) and (max-width:520px){
    nav .logo img{
        width: 90px;
        position: static;
        /* position: absolute; */
        margin-top: 17%;
        margin-right: 150px;
    }

        /* corpo */
        .fundo-principal{
            height: 20vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-size: 100%;
            padding: 115px 10px;
        }
        .fundo-principal h1{
            font-size: 60px;
        }
        .fundo-principal img{
            display: none;
        }
    
        .first{
            height: auto;
            display: grid;             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define colunas automáticas com largura mínima de 200px */
            gap: 20px; /* Espaçamento entre os blocos */
        }
    
        .bloco1, .bloco2, .bloco3, .bloco4, .bloco5{
            flex-basis: auto;
        }
        .bloco1{
            margin-left: 10%;
        }
    
}

@media (max-width:480px){
    nav .logo img{
        width: 90px;
        position: static;
        margin-right: 75px;
        margin-right: 60px;
        margin-right: 45px;
        margin-top: 20%;

    }
 
    /* submenu */
    .sub-menu button {
        margin: 0;
        position: relative;
        left: 25%;
    }
    .bi-caret-right-fill, .bi-house-door-fill, .p-prod{
        display: none;
    }

    /* corpo */
    .fundo-principal{
        height: 20vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 100%;
        padding: 115px 10px;
        /* margin-top: -30%; */
    }
    .fundo-principal h1{
        font-size: 60px;
    }
    .fundo-principal img{
        display: none;
    }

    
    .titulos h1{
        font-size: 50px;
    }
    .first{
        margin-top: -20%;
        margin-top: -10%;
        margin-bottom: 15%;
        height: auto;
        display: grid;             grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*Define colunas automáticas com largura mínima de 200px
        gap: 20px; /* Espaçamento entre os blocos */
    }

    .bloco1, .bloco2, .bloco3, .bloco4, .bloco5{
        flex-basis: auto;
        justify-content: center;
        margin-bottom: -7%;

    }
    .bloco1{
        margin-left: 3%;
        margin-bottom: -17%;
    }
    .content-1-b {
        margin-left: 35px;
    }
}

.seta {
    position: fixed;
    top: 600px;
    bottom: 0;
    right: 10px;
    font-size: 46px;
    color: #210082;
    text-decoration: none;
}

/* acessibilidade */
.div-acess-bt{
    position: fixed;
    left: 95%;
    bottom: 75%;
    z-index: 9999; 
}
.fa-universal-access {
    font-size: 50px;
    color: #210082;
    
}
.acess-bt{
    border: none;
    border-radius: 100%;
    background-color: transparent;
}
.fa-universal-access:hover{
    color: #007fd4
}
.acess-window {
    display: none;
    position: fixed;
    bottom: 46%;
    right: 10px;
    width: 200px;
    height: 150px;
    background-color: #ffffffd2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 9998;
    overflow:hidden;
  }
  .window-point{
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 12px solid rgb(205, 203, 203);
    margin: -11% 0 5% 73%;
  }
  /* aumentar e diminuir */
  .moreorless{
    justify-content: center;
    display: flex;
    height: 60px;
  }
  .moreorless button{
    margin-top: 5%;
    width: 45px;
    height: 40px;
    align-self: center;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px 0px black;
    transition: .3s;
  }
  .moreorless button:hover {
    color: white;
    box-shadow: none;
    transform: translateX(3px) translateY(3px);
    background-color: black;
    border: none;
  }
  /* dark mode [inicio]*/
  .dk_mode{
    justify-content: center;
    display: flex;
    height: 60px;
    align-items: center;
  }
  .tema-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 8em;
    height: 1em;
    font-size: 17px;
    font-weight: 600;
    color: black;
    background-color: white;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 2px 2px 0px black;
    transition: .4s;
    z-index: 1;
  }
  .name::before {
    color: black;
    content: "Dark Mode";
    margin-right: 2em;
    transition: .2s ease-in-out;
  }
  .name::after {
    color: black;
    content: "Light Mode";
    margin-right: 1.7em;
    transition: .2s ease-in-out;
    display: none;
  }
  .tema-check .slider {
    position: absolute;
    background-color: #222222;
    margin-left: 6.2em;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid #222222;
    transform: rotate(-120deg);
    box-shadow: inset 0px 6px #999, inset 0px 6px 1px 1px #999;
  }
  .tema-check:hover {
    color: white;
    cursor: pointer;
    box-shadow: none;
    transform: translateX(6px) translateY(6px);
    background-color: black;
    border: none;
  }
  .tema-check:hover .name::before {
    color: white;
  }
  .tema-check:hover .name::after {
    color: white;
  }
  .tema-check input[type=checkbox]:checked + .slider {
    transform: rotate(360deg);
    box-shadow: none;
    border: 4px solid #F28C38;
    background-color: #F28C38;
  }
  .tema-check input[type=checkbox]:checked ~ .name::before {
    display: none;
  }
  .tema-check input[type=checkbox]:checked ~ .name::after {
    display: block;
  }
  .tema-check input[type=checkbox] {
    position: absolute;
    visibility: hidden;
  }
  .slider {
    transition: 300ms ease;
  }
  
html[dark] .sub-menu{
    background-color: rgb(28, 27, 27);
    color: white;
    transition: 2s;
}    
html[dark] .card-GG{
    background-color: rgb(28, 27, 27);
    color: white;
    transition: 2s;
}  
html[dark] .logos{
    background-color: rgb(28, 27, 27);
    color: white;
    transition: 2s;
}

html[dark] .fundo-principal{
    background-color: rgb(28, 27, 27);
    color: white;
    transition: 2s;
}

html[dark]{
    background-color: rgb(28, 27, 27);
    color: white;
    transition: 2s;
}
html[dark] nav{
    background-color: #0e0e0e;
    transition: 1s;
}
html[dark] section{
    background-color: rgb(28, 27, 27);
    color: white;
    transition: 1s;
}
html[dark] footer{
    background-image: url(/img/footer-dark.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
html[dark] .b1-c1{
    background-color: rgb(0, 0, 0);
    transition: 1s;
}
html[dark] h1 {
  color: #dadada;
  text-shadow: 0px -1px 2px #0EC1C2;
}
html[dark] .h1-c3{
    color: #00145671;
}
html[dark] h2{
  color: #dadada;
}
html[dark] p{
    color: #9b9b9b;
}
  /* dark mode [fim]*/
