* {
    font-family: "Montserrat", sans-serif;
}
  
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; 
    background-image: url('../img/ev-fundo-cad.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    overflow: hidden; 

}
body::after {
    content: "";
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* filter: blur(8px);  */
    z-index: -1; 
}


/* menu */
.menu{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 12%;
    top: 0%;
    position:fixed;
    overflow: hidden;
    padding-left: 55px;
    z-index: 0;
}
.menu-bar{
    display: flex;
    align-items: center; 
    height: 100%; 
    padding: 0 20px; 
}
.menu img{
    width: 105px;
}
.menu a{
    color: rgb(0, 0, 0);
    font-size: 28px;
    padding: 10px;
}

/* container branco - fundo branco */
.container {
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: #ffffff; 

    overflow: hidden;
    position: absolute;
    top: 13%;
    height: 84vh;
    max-width: 75%;
    -webkit-box-shadow: 0px 0px 44px 0px rgba(151,151,151,0.42); 
    box-shadow: 0px 0px 44px 0px rgba(151,151,151,0.42);
    border-radius: 5px;

}

.form{
    max-height: 84vh; 
    overflow-y: auto; 
    /* padding-right: 20px;  */
    padding: 5px;
    width: 100%;
    max-width: 100vh;

    /* background-color: red; */
    /* max-width: 100%;
    min-width: 100%;
    padding: 0%; */
    max-height: 80vh; 

}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd7;
    padding: 1rem;
    background-color: #ffffff;
    margin-top: -10px;

    /* background-color: blue; */
    width: 45%;

}
.form-image img {
    width: 39rem;
}



/* box  */

.box{
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #ffffff;
    width: 50%;
    left: 50%;
    margin-top: -10px;

    width: 100%;
    max-width: 100%;
    min-width: 55%;
    height: 100%;
    margin: 0.5%;
    /* background-color: green; */
    overflow: hidden;
    padding: 2px 20px 30px 20px;

    max-width: 50%;
    min-width: 50%;
    height: 91%;


}

.legenda{
    width: 100%;
    color: #00cfde;
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 0.5px;
}
legend{
    border: 1px solid #eeeeee;
    padding: 10px;
    text-align: center;
    background-color: #ebf6f7;
    border-radius: 8px;

    background-color: #0000003f;
    border-radius: 6px;
    background-color: rgba(158, 255, 252, 0.489);
    background-color: #007f9c;
    background-color: #ebf6f7;
    font-size: 18px;
}

.sub-title-form{
    font-weight: bold;
    color: #007f9c;
}

/* inputs */

form .inputbox{
    /* margin-bottom: 25px; */
    margin-bottom: 15px;
}

form .inputbox label{
    color: #171717da;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: small;
}

.inputbox .title{
    margin: 0px -10px;
    font-style: italic;
}

form .inputbox input{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    font-size: 13px;
    color: #1e1d1d;
    transition: all 0.4s ease;
    background-color: rgb(238, 243, 247);
    height: 8px;
    border: 0.5px solid rgb(214, 214, 214);
    border-radius: 7px;
    padding: 15px;


}
.ww{
    width: 100%;
}

form .inputbox input:focus{
    border: 1.3px solid rgb(0, 130, 147);
}


.w50, .w30, .w20, .w10{
    width: 50%;
    float: left;
    padding-right: 20px;

    /* background-color: green; */
}

/* ---------------------------JS------------- */
.error{}
.input-error{
    border: 2px solid red;
}
#erroNome, #erroCpf, #erroLogin, #erroSenha, #erroTwoSenha, #erroCnpj{
    display: inline-block;
    width: 100%;
    margin-bottom: 5%;
    margin-top: -1%;
    color: red;
}
.error{
    color: red;
    width: 100%;
    font-size: small;
    margin-bottom: 3px;
}

.inputbox {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 20px; 

    margin-bottom: 0;
    /* background-color: yellow; */
    height: auto;
    /* height: 120px; */

}

.inputbox label {
    color: #171717da;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: small;
    width: 100%;
}

.inputbox input {
    flex: 1; 
    height: 37px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 13px;
    color: #1e1d1d;
    transition: all 0.4s ease;
    margin-right: 10px; 
    margin-bottom: 10px;
}

.inputbox input:last-child {
    margin-right: 0; /* Remove a margem direita do último input para evitar espaço extra */
}

.bi-eye{
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin-top: 2.5%;
    margin-left: -15%; 
    margin-left: -13%; 
    margin-right: 3%;
    color: #5f5e5e;
    transition: 0.5s;
}
.bi-eye-slash{
    transition: 1s;
    font-size: 20px;

}



/* BUTTON */
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    justify-content: center; 
    align-items: center; 
    width: 28%;
    left: 1%;

    margin-top: 3%;
    margin-bottom: 5%;
    /* margin-left: 35%; */

}
.buttons{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);

       
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       rgb(56, 55, 55) 0%,
       hsl(0, 1%, 18%) 8%,
       hsl(0, 1%, 16%) 92%,
       hsl(0, 2%, 16%) 100%
     );
     
   }
   
   .front {
    display: block;
    position: relative;
    border-radius: 5px;
    color: white;
    background: hsl(184.62deg 46.17% 54%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    padding: 5px 15px;
    font-size: 15px;
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none; /* Remove o estilo padrão do sistema operacional */
    outline: none;
}
.sel2{
    font-size: 14px;
}
.selectInput option {
    padding: 15px 20px; 
    font-size: 16px; 
    background-color: #e6e6e6; 
    color: #000; 
    border: none;
    

}
.selectInput option:checked {
    background-color: #007bff; 
    color: #fff; 
}
.selectInput:focus{
    border: 2px solid rgb(0, 130, 147);
}




/* rolagem */

::-webkit-scrollbar {
    width: 12px; 
    margin-right: 20px; 
}
  
::-webkit-scrollbar-track {
    background: #ffffff; 
}
  
::-webkit-scrollbar-thumb {
    background-color: #74DCE6; 
    border-radius: 20px;
}

  
body {
    scrollbar-width: thin;
    scrollbar-color: #cff2f5 #ffffff;

}

/* rolagem  fim */






/*-------------------------------- captcha inicio */

.captcha-container {
    text-align: center;
    height: 150px;
    overflow: hidden;
    width: 100%;
  }
  .block-chk{
    display: flex;
    height: 100%;
    align-items: center;
  }
  .title-captcha{
    font-size: 11px;
    color: #1e1d1d;
  }

  .captcha {
    margin-bottom: 20px;
    background-color: #f9f8f5;
    border: 1.5px solid rgb(216, 215, 215);
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-left: 20%;
    border-radius: 8px;
  }
  .img-captcha{
    width: 55px;
  }
  #checkBtn {
    padding: 88px 20px;
    font-size: 16px;
    cursor: pointer;
  }


  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506eec;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506eec;
  }
  
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506eec;
    border-color: #506eec;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  
/* ------------------------------------ captcha final  */

/* CADASTRO ADMIN [INICIO] */
.inputbox #cursosContainer {
    display: flex;
    flex-wrap: wrap; 
}

.inputbox #cursosContainer input[type="checkbox"] {
    flex: 1;
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.inputbox #cursosContainer label {
    flex: 1; 
    margin-right: 10px; 
    margin-bottom: 10px; 
}
.bi-eye{
    font-size: 19px;
    cursor: pointer;
    display: block;
    margin-top: 2.5%;
    margin-left: -15%;  
    color: #5f5e5e;
    transition: 0.5s;
}
.bi-eye-slash{
    transition: 1s;
    font-size: 20px;

}

/* CADASTRO ADMIN [FIM] */



/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Reduz a largura do container */

        /* background-color: red; */
        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 100%; /* Define a largura da caixa para ocupar toda a largura */

        /* background-color: rgb(13, 255, 0); */
        min-width: 80%;
        height: 60%;
    }
    .form{
        max-height: 50vh; 
    }
    .bi-eye{
        font-size: 19px;
        cursor: pointer;
        display: block;
        margin-top: 2.5%;
        margin-left: 2%;  
        color: #5f5e5e;
        transition: 0.5s;
    }
    .bi-eye-slash{
        transition: 1s;
        font-size: 20px;
    
    }

    .inputbox {
        width: 100%; /* Define a largura dos campos de entrada para ocupar toda a largura */
    }

    /* Adicione mais estilos responsivos conforme necessário */
}

/* Estilos para telas maiores que 768px */
@media (min-width: 768px) and (max-width:980px) {
    .container {
        width: 80%; 

        display: flex;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 60%; 

        min-width: 80%;
        height: 60%;
    }
    .form-image{
        height: 35%;
    }
    .form-image img{
        width: 250px;
    }

    .form{
        max-height: 50vh; 
    }
    .bi-eye{
        font-size: 19px;
        cursor: pointer;
        display: block;
        margin-top: 2.5%;
        margin-left: 2%;  
        color: #5f5e5e;
        transition: 0.5s;
    }
    .bi-eye-slash{
        transition: 1s;
        font-size: 20px;
    
    }

}

@media (min-width: 1000px) and (max-width:1030px) {
    .bi-eye{
        margin-left: -15.5%;  
    }
}

/* Estilo para tornar a imagem responsiva */
.form-image img {
    max-width: 100%; /* Define a largura máxima como 100% */
    height: auto; /* Define a altura como automática */
}