@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300 ;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: "Poppins", sans-serif;
}

:root{
    --body-color: #E4E9F7;
    --nav-color: #2070F4;
    --side-nav: #010718;
    --text-color: #fff;
    --text-default: #74DCE6;
    --sub-titles: #bababa;
    --titles: #686868;
}

body{
    height: 100vh;
    background-color: var(--body-color);
    background-color: #ffffff;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: var(--nav-color);
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

nav .nav-bar{
   position: relative;
   height: 100%;
   max-width: 1000px;
   width: 100%;
   margin: 0px auto;
   /* padding: 0 30px; */
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav .nav-links{
  display: flex;
  align-items: center;
}
.nav-links li{
    list-style: none;
    margin: 16px 36px 0px 36px;
}
.nav-links li a{
    position: relative;
    text-decoration: none;
    font-weight:600;
    font-size: 17px;
    color: var(--text-color);
    color: gray;
    padding: 10px;
}

nav .logo{
    /* background-color: #010718; */
    height: 100%;
}
nav img{
    width: 160px;
}
nav li a:hover{
     color: rgb(174, 172, 172);
}
nav .user{
    height: 40px;
}
nav .bi-person-circle{
    color: #929296;
    font-size: 27px;
    margin-right: 5px;
}
/* PAGINA ATUAL FUNDO MENU */
nav ul li a .active {
    position: absolute;
    bottom: -30px; 
    left: 0;
    width: 100%;
    height: 155px; 
    background-color: var(--text-default);
    z-index: -1;
    border-radius: 40px;
    padding: 15px;
    margin-left: -15px;
}
nav .sidebarOpen{
    color: #010718;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .sidebarClose{
    opacity: 0;
}



/* CORPO [INICIO] */
section.content{
    background-image: url(../img/img-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
}
.content-courses{
    /* background-color: green; */
    margin: 100px 0px 0px 0px;
    padding: 20px;
    width: 80%;
}
.cards{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    padding: 5px 5px;
    height: 100%;
    width: 100%;
}
.card{
    background-color: var(--text-color);
    /* justify-content: space-between; */
    width: 25%;
    height: 250px;
    padding: 15px 5px;
    margin: -4%;
    text-align: center;
    border-radius: 10px;
    color: rgb(169, 169, 169);
    border: 1px solid rgb(152, 152, 152);
    overflow: hidden;
}
.card img{
    width: 170px;
    height: 120px;
    margin: 3% 1%;
}
.card button img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.card button{
    border-radius: 100%;
    border: none;
    margin-top: 1%;
}
.card button i{
    font-size: 25px;
}
.txt-cursos, .p-cursos, .local{
    margin: 2%;
    font-size: 15px;
    text-align: left;
    margin-left: 5%;
}
.card1{
    margin-bottom: 15%;
}
.card3{
    margin-top: 15%;
}
.goals{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    height: 100%;
    padding: 1px 5px;
}
.goal-1, .goal-2, .goal-3{
    background-color: var(--text-color);
    width: 100%;
    height: 23%;
    border-radius: 10px;
    padding: 10px 14px;
    text-align: center;
    font-size: 14px;
}
.goal-2 p{
    font-size: 13px;
    color: #bcbcbc;
}
.content-goals{
    width: 45%;
    margin: 110px 0px 0px 0px;
    padding: 20px;
    /* background-color: pink; */
    display: flex;
    flex-wrap: nowrap;
}
.icons-g1 img{
    width: 60px;
    height: 60px;
    border-right: 2px solid rgb(202, 202, 202);
    border-radius: 2px;
    margin-top: 3%;
}
.goal-2 img{
    width: 70px;
}
.goal-3 img{
    width: 50px;
}
 
.bt-info{
    cursor: pointer;
}
.bt-info:hover{
    color: #525252;
}

/* CORPO [FIM] */




/* teste animação */

.card1 {
    animation: animacao-cd1 1.8s forwards; /* forwards mantém o estado final da animação */
}

.card2 {
    animation: animacao-cd2 1.2s forwards;
    animation-delay: 0.3s; 
    opacity: 0;
}

.card3 {
    animation: animacao-cd3 1s forwards;
    animation-delay: 0.9s; 
    opacity: 0; 
}

@keyframes animacao-cd1 {
    0% { transform: translate(135px, 106px); opacity: 0; }
    100% { transform: translate(0px, 0px); opacity: 1; }
}

@keyframes animacao-cd2 {
    0% { transform: translate(300px, 2px); opacity: 0; }
    100% { transform: translate(0px, 0px); opacity: 1; }
}

@keyframes animacao-cd3 {
    0% { transform: translate(100px, 10px); opacity: 0; }
    100% { transform: translate(0px, 0px); opacity: 1; }
}





/* >>>>>>>> RESPONSIVIDADE <<<<<<<<< */
@media (min-width:920px) and (max-width:1217px){
    nav .nav-bar{
        padding: 0%;
    }
    section.content{
        background-repeat: repeat;
        flex-wrap: wrap;
        height: 100%;
        height: 1500px;
    }
    .content-courses{
        height: 40%;
        margin: 0%;
    }
    .cards{
        width: 100%;
        height: 100%;
    }
    .card{
        width: 200px;
        height: 190px;
    }
    .card img{
        width: 160px;
        margin: 3% 1%;
    }
    .card1{
        margin: 0;
        margin-bottom: 1%;
        margin-right: 10%;
    }
    .card3{
        margin-top: 0%;
        margin-bottom: 1%;
        margin-left: 10%;
    }
    .card2{
        margin-top: 0%;
        margin-bottom: 1%;
    }
    

    .content-goals {
        width: 100%;
        margin: 0px;
        height: 50%;
    }
    .goals{
        padding: 10px 50px;
        display: flex;
        height: 100%;
        margin-top: -10%;
    }
    .goal-1, .goal-2, .goal-3{
        background-color: var(--text-color);
        margin-bottom: 2%;
        width: 80%;
    }
    footer{
        max-height: 30vh;
    }




    /* teste */
    section.content {
        background-image: url(../img/img-back.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        /* height: 100vh; */
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }
    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        /* justify-content: space-between; */
        padding: 5px 5px;
        height: 90%;
        width: 100%;
        overflow: hidden;
        gap: 60px;
    }
    .card {
        background-color: var(--text-color);
        /* justify-content: space-between; */
        width: 25%;
        height: 200px;
        padding: 15px 5px;
        /* margin: -4%; */
        text-align: center;
        border-radius: 10px;
        color: rgb(169, 169, 169);
        border: 1px solid rgb(152, 152, 152);
        overflow: hidden;
    }
    .card1, .card3{
        margin: 0;
    }

    .goal-1, .goal-2, .goal-3{
        height: auto;
        border: 1px solid rgb(166, 165, 165);
        margin-top: -35%;
        margin-bottom: -25%;
    }
    
}


@media (max-width: 920px) {
    .menu{
        position: fixed;
        height: 70%;
        width: 230px;
        left: -100%;
        top: 0;
        background-color: rgba(172, 233, 249, 0.812);
        margin-top: 110px;
        border-radius: 5px;
        z-index: 100;
        transition: all 0.8s ease;
    }
    .menu li a, nav .bi-person-circle{
        color: #010718;
    }
    nav.ativo .menu{
        left: -0%;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }
    .active{
        opacity: 0;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
    nav .sidebarClose{
        margin: 0px 190px;
        font-size: 30px;
        cursor: pointer;
        opacity: 1;
    }
    nav .sidebarOpen{
        display: block;
    }
    .logo img{
        margin-left: -93%;
        position: static;
    }

    /* corpo */
    section.content{
        background-repeat: repeat;
        flex-wrap: wrap;
        height: 100%;
    }
    .content-courses{
        height: 40%;
        width: 100%;
    }
    .cards{
        width: 100%;
        height: 100%;
    }
    .card{
        width: 200px;
        height: 190px;
    }
    .card img{
        width: 160px;
        margin: 3% 1%;
    }
    .card1{
        margin: 0;
        margin-bottom: 1%;
        margin-right: 10%;
    }
    .card3{
        margin-top: 0%;
        margin-bottom: 1%;
        margin-left: 10%;
    }
    .card2{
        margin-top: 0%;
        margin-bottom: 1%;
    }
    

    .content-goals {
        width: 100%;
        margin: 0px;
        height: 50%;
    }
    .goals{
        padding: 10px 50px;
        display: flex;
        height: 100%;
    }
    .goal-1, .goal-2, .goal-3{
        background-color: var(--text-color);
        margin-bottom: 2%;
        width: 80%;
    }


}



@media (min-width:530px) and (max-width:640px) {
    nav .logo img{
        width: 100px;
        margin-top: 34%;
        margin-top: 35px;
        margin-left: -485px;

    }
    nav .bi-list{
        font-size: 24px;
        font-weight: 500;
        margin-top: 8%;
    }
    nav{
        position: fixed;
        width: 100%;
    }

    nav .nav-bar{
        position: relative;
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: 0px auto;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     /* corpo */
     .content-courses {
        width: 85%;
    }
    .card img {
        width: auto;
        height: 70px;
    }
    .icons-g1 img{
        border: 0;
    }

}

@media (max-width:500px) {
    nav .logo img{
        width: 100px;
        margin-top: 35px;
        margin-left: -280%;
        margin-left: -190%;
        margin-left: -200%;


    }
    nav .bi-list{
        font-size: 24px;
        font-weight: 500;
        margin-top: 8%;
    }
    nav{
        position: fixed;
        width: 100%;
    }

    nav .nav-bar{
        position: relative;
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: 0px auto;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     /* corpo */
     section.content {
        background-image: none;
        background-color: rgba(172, 255, 255, 0.82);
        background: radial-gradient(circle, rgba(174,223,238,0.7933298319327731) 0%, rgba(0,136,172,0.7737219887955182) 100%)
    }
    .content-courses {
        width: 85%;
    }
    .card img {
        width: auto;
        height: 110px;
    }
    .icons-g1 img{
        border: 0;
    }
    .cards {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15%;
    }
    .card {
        height: 250px;
    }
    .card1, .card3{
        margin: 0%;
    }
}


